@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
    --quote-font: "DM Serif Display", serif;
    --heading-color: rgb(155, 87, 10);
    --text-color: rgb(12, 12, 12);
    --quote-text-color: rgb(189, 192, 186);
    --main-color: rgb(30, 25, 32);
    --border-radius: .3rem;
}

* {
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: .3rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(45, 62, 73);
    border-radius: 100vw;
}

body {
  background-color: var(--main-color);
}

h1 {
  color: var(--heading-color);
}

button, input[type=submit] {
  cursor: pointer;
}